<!DOCTYPE html>
<html lang="en">
    <%- include('../head'); %>

        <body>
            <%- include('admin-header'); %>
                <%- include('admin-body'); %>
                    <%- include('../footer'); %>
                        <%- include('admin-script'); %>
        </body>

</html>